.TodoContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 1rem;
  width: 100%;

  &__Search {
    align-self: flex-start;
    display: flex;
    width: inherit;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
    input {
      padding: 0.6rem;
      width: 20rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 1px 5px rgb(0 0 0 / 0.1);
    }
  }

  &__loader{
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 30001;
    opacity: 0.8;
    span {
      position: absolute;
      color: #000;
      top: 50%;
      left: 45%;
    }
  }

  h1 {
    align-self: flex-start;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    th, td {
      text-align: left;
      border: 1px solid #ddd;
      padding: 8px;
    }

    tr {
      &:hover {
        background-color: #ddd;
      }
      &:nth-child(even) {
        background-color: #f2f2f2;
      }
    }
  }
}

.TableContainer {
  overflow-x: auto;
}

.Error {
  background: #f8d7da;
  display: flex;
  align-items: flex-start;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  margin: 0.6rem 0;
  font-size: 14px;
  color: #721c24;
  border-color: #f5c6cb;
}
